<div class="row">
  <div class="col-md-3 mb-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/Agregar-Tareas.jpg" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Agregar Tareas</h5>
        <p class="card-text">Aquí podrás Agregar, modificar y Eliminar Tareas de Tus Alumnos.</p>
        <a routerLink="Create-Tareas"  class="btn btn-primary">Ingresar</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/Agregar-Grado.jpg" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Agregar Grado</h5>
        <p class="card-text">Aquí podrás realizar acciones como Agregar, Modificar y Eliminar Grados de tu Institución.</p>
        <a routerLink="Agregar-Grado" class="btn btn-primary">Ingresar</a>
      </div>
    </div>
  </div>
  <!-- Agrega aquí más tarjetas siguiendo el mismo patrón -->
  <div class="col-md-3 mb-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/Agregar-Curso.png" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Agregar Curso</h5>
        <p class="card-text">Aquí podrás realizar acciones como Agregar, Modificar y Eliminar Cursos de tu Institución.</p>
        <a routerLink="Agregar-Curso" class="btn btn-primary">Ingresar</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/Agregar-Nota.png" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Agregar Notas</h5>
        <p class="card-text">Aquí podrás realizar acciones como Agregar, Modificar y Eliminar Notas de tus Alumnos.</p>
        <a routerLink="Agregar-Notas" class="btn btn-primary">Ingresar</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/Agregar-Alumno.jpg" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Agregar Alumnos</h5>
        <p class="card-text">Aquí podrás realizar acciones como Agregar, Modificar y Eliminar Alumnos de tu Institucion.</p>
        <a routerLink="Agregar-Alumno" class="btn btn-primary">Ingresar</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/Agregar-Catedratico.jpg" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Agregar Catedratico</h5>
        <p class="card-text">Aquí podrás realizar acciones como Agregar, Modificar y Eliminar Catedraticos de tu Institucion</p>
        <a routerLink="Agregar-Catedratico" class="btn btn-primary">Ingresar</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/Agregar-Examen.jpg" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Agregar Examen</h5>
        <p class="card-text">Aquí podrás realizar acciones como Agregar, Modificar y Eliminar Examenes de tus curso</p>
        <a routerLink="Agregar-Examen" class="btn btn-primary">Ingresar</a>
      </div>
    </div>
  </div>


</div>






<router-outlet></router-outlet>

