

<html lang="en">
<head>
    <title>Inicio Sesion</title>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  </head>
<body>
  <div>
      <p>.</p>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
              <div class="col-12 user-img">
                <img src="assets/img/user.png" >
              </div>
                <form class="col-12" >
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" name="username"/>
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contrasena" name="password"/>
                    </div>
                    <a  >
                    <button   class="btn btn-primary" [routerLink]="['/']" >
                      <i class="fas fa-sign-in-alt" > </i>  Ingresar </button>
                    </a>
                </form>
                <div  class="col-12 forgot ">
                    <a  [routerLink] ="['/pantalla-principal']" > Recordar contraseña</a>
                </div>
                <div class="col-12 forgot">
                  <a >Crear Cuenta</a>
              </div>
                <div class="modal-footer d-flex justify-content-center align-items-center">
                  <p class="m-0">Instituto Nacional de Enseñanza media</p>
                  <p class="m-0">SANTA DELFINA</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-center align-items-center">
      <p class="m-0 text-black">&copy; 2023 Todos los derechos reservados</p>
    </div>
  </div>
</body>
</html>
